extends layout/default
block styles

append content
  textarea#textarea hello world

append scripts
  script
    var cursor = require('cursor');
    var textarea = document.getElementById('textarea');
    var test = document.getElementById('test');

    textarea.cursor = cursor.call(textarea);

    console.log('textarea.cursor.offsetLeft', textarea.cursor.offsetLeft);
    console.log('textarea.cursor.offsetTop', textarea.cursor.offsetTop);
    console.log('textarea.cursor.pageLeft', textarea.cursor.pageLeft);
    console.log('textarea.cursor.pageTop', textarea.cursor.pageTop);
    console.log('textarea.cursor.height', textarea.cursor.height);

    (function next() {
      if (textarea.cursor.position >= textarea.value.length) return;
      textarea.cursor.position = textarea.cursor.position + 1;
      setTimeout(next, 100);
    }());
