extends layout/index
block styles

append content
  textarea#textarea hello world

append scripts
  script
    var Cursor = require('cursor');
    var textarea = document.getElementById('textarea');
    var test = document.getElementById('test');

    textarea.setSelectionRange(4, 4);

    var cursor = Cursor.call(textarea);

    console.log('cursor.offsetLeft', cursor.offsetLeft)
    console.log('cursor.offsetTop', cursor.offsetTop)
    console.log('cursor.pageLeft', cursor.pageLeft)
    console.log('cursor.pageTop', cursor.pageTop)
    console.log('cursor.height', cursor.height)

